[submodule "intdielec/exts/mdanalysis"]
	path = intdielec/exts/mdanalysis
	url = https://github.com/ChiahsinChu/mdanalysis.git
	branch = jxzhu_dev
[submodule "intdielec/exts/ase"]
	path = intdielec/exts/ase
	url = https://gitlab.com/ChiahsinChu/ase.git
	branch = jxzhu_dev
[submodule "intdielec/exts/toolbox"]
	path = intdielec/exts/toolbox
	url = git@github.com:ChiahsinChu/toolbox.git
