[submodule "intdielec/exts/cp2kdata"]
	path = intdielec/exts/cp2kdata
	url = https://github.com/robinzyb/cp2kdata.git
[submodule "intdielec/exts/mdanalysis"]
	path = intdielec/exts/mdanalysis
	url = https://github.com/ChiahsinChu/mdanalysis.git
	branch = jxzhu_dev
[submodule "intdielec/exts/ase"]
	path = intdielec/exts/ase
	url = https://gitlab.com/ChiahsinChu/ase.git
	branch = jxzhu_dev
[submodule "intdielec/exts/maicos"]
	path = intdielec/exts/maicos
	url = git@gitlab.com:ChiahsinChu/maicos.git
